/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
}
main{
    background-color: #b2b0bb;
    padding: 40px 285px;
    
}
.one-section{
    background-color: #FFFFFF;
     width: 870px;
     margin: 0 auto;
     height: 670px;
    padding: 30px;
    border-radius: 10px;
}
.one-section-title{
    color: #562EFF;
    font-size: 24px;

    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.all-player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.single-player{
   display: flex;
   align-items: center;
}
.player-image img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 18px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
hr{
    border:2px solid #D1D1D1;
    margin: 30px 0px;
    
}
/* top blogs style start */
.full-blog{
     display: grid;
     grid-template-columns: repeat(2,1fr);
}
.single-blog{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-details h3{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.blog-details p{
    color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
}
span{
    color: #562EFF;
    font-family: 'Poppins', sans-serif;
}
/* second section courses start */
.two-section-course{
    background-color: #FFFFFF;
    width: 870px;
    margin: 0 auto;
    height: 360px;
   padding: 30px;
   border-radius: 10px;
   margin-top: 20px;
}
.full-course{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course-image-info img{
    width: 224px;
    height: 104px;
}
.course-image-info h3{
    font-family:'Poppins', sans-serif ;
    font-size: 20px;
}
.course-image-info p{
    font-family:'Poppins', sans-serif ;
    font-size: 14px;
    color: #ED6B4F;
}
.course-time{
    display: flex;
    align-items: center;
}
.fill{
    color: #ED6B4F;
}
.empty{
    color: #AEAEAE;
}
.course-point{
    margin-left: 10px;
    color: #AEAEAE;
}
.course-hour{
    margin-left: 30px;
    background-color:#FFE4E8;
   padding: 5px 20px;
   border-radius: 40px;
}
.hour-red{
     color: #FF4A60;
     font-weight:400;
    
}



/* Responsive All Devices */
@media only screen  and (max-width:688px){
    main{
        background-color: #b2b0bb;
        padding: 0px;
    }
    .one-section{
        width: auto;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .all-player{
        grid-template-columns: repeat(1,1fr);
    }
    .top-blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .full-blog{
        grid-template-columns: repeat(1,1fr);
    }
    .two-section-course{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .full-course{
        grid-template-columns: repeat(1,1fr);
    }
    .single-course{
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:688px) and (max-width:992px){
    main{
        background-color: #b2b0bb;
        padding: 0px;
    }
    .one-section{
        width: auto;
        height:auto;
        
    }
    .full-blog{
        grid-template-columns: repeat(2,1fr);
    }
    .top-blogs{

    }
    .single-blog{
        display: block;
    }
    .blog-details{
        margin-left: 0px;
    }
    .full-course{
        grid-template-columns: repeat(2,1fr);
    }
    .single-course{
        margin-bottom: 20px;
    }
    .two-section-course{
        width: auto;
        height: auto;
        
    }
}


